div{
  overflow:hidden;
  position:relative;
}

.card{
  width: 100px;
  height: 100px;
}

.A{
  background-color:#F38630;
}
.B{
  background-color:#F38630;
}
.C{
  background-color:#F38630;
}
.D{
  background-color:#F38630;
}
.E{
  background-color:#F38630;
}
.A{
  background-color:#F38630;
}
.F{
  background-color:#F38630;
}
.G{
  background-color:#F38630;
}
.H{
  background-color:#F38630;
}


.backA{
  background-image: url(img/back.jpg);
}
.backB{
  background-image: url(img/back.jpg);
}
.backC{
  background-image: url(img/back.jpg);
}
.backD{
  background-image: url(img/back.jpg);
}
.backE{
  background-image: url(img/back.jpg);
}
